<ion-header>
  <ion-toolbar color="dark">
     <ion-back-button slot="start" (click)="back()"></ion-back-button>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>
  
  
<ion-content class='fg-content' padding>
    <ion-card>
      <ion-card-header class='card-menu'>
        <ion-icon name="person"></ion-icon> Reset password
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls.email.valid">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.touched"> <p>Please enter a valid email.</p> </ion-item>
          <div class='center'>
            <ion-button block type="submit" [disabled]="!resetPasswordForm.valid"> Reset your Password </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
  