ion-tab-bar{
    a{
        color:white !important;
    }
    background:var(--ion-tab-bar-background);
}
ion-tab-button{
    color:white;
    &.tab-selected{
        color:var(--ion-color-dark-contrast);
    }
}

a.tab-btn-selected{
    color:white !important;
}

.tabbar-tangofury{
    @media screen and (min-width:790px){
        padding-top:60px;
      }
}

    
.logo-tf{
    height:6em;
    position:fixed;
    @media screen and (min-width:790px){
        height:5em;
        
        }
    @media screen and (max-width:790px){
        margin-top:-3em;
        
  }
    
}