<ion-fab *ngIf="role == 'visitor' && loginDisplay == true" vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)='goToLogin()'>
    <ion-icon name="person"></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-fab [vertical]="tabPlacement" horizontal="center" slot="fixed">
  <ion-fab-button class='logoTangoFury' color="white" (click)='goToAbout()'>
    <img (click)="goToAbout()" class='logo-tf clickable' alt='logo Tango Fury' src="assets/img/logo-tangofury.png"  >
  </ion-fab-button>
</ion-fab>

  



<ion-tabs *ngIf="tabPlacement == 'bottom'" color="dark" class='center toolbar-tf'>
  <ion-tab-bar slot="bottom" >

      <ion-tab-button tab="home" href="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="latest" href="/latest">
        <ion-icon name="film"></ion-icon>
        <ion-label>Latest</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="space" href="/about">
        <ion-label>&nbsp;</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tango-maestros" href="/tango-maestros">
        <ion-icon name="star"></ion-icon>
        <ion-label>Maestros</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="playlists" href="/playlists">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Playlists</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<ion-tabs  *ngIf="tabPlacement == 'top'" color="dark" class='center toolbar-tf'>
  <ion-tab-bar slot="top" >

      <ion-tab-button tab="home" href="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="latest" href="/latest">
        <ion-icon name="film"></ion-icon>
        <ion-label>Latest</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="space" href="/about">
        <ion-label>&nbsp;</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tango-maestros" href="/tango-maestros">
        <ion-icon name="star"></ion-icon>
        <ion-label>Maestros</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="playlists" href="/playlists">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Playlists</ion-label>
      </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
